@media screen and (min-width: 540px) {
    /* header large */
    header {
        grid-template-columns: 1.5fr 3fr 1.5fr;
    }

    header h1 {
        display: block;
        font-family: var(--heading-font);
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    a.active::after {
        content: "";
    }

    a.active {
        text-decoration: underline;
    }

    /* main large */
    .team-member {
        max-width: 500px;
    }

    .team {
        grid-template-columns: 1fr 1fr;
    }

    .team-member img {
        width: 300px;
        height: auto;
        border-radius: 5px;
    }

    .team-member h3 {
        font-family: var(--heading-font);
        font-size: 2rem;
    }

    .team-member p {
        padding: 0 2rem;
    }

    .checkbox-group {
        grid-template-columns: 1fr 1fr;
    }
    /* footer large */
    footer {
        display: grid;
        grid-template-columns: 4fr 0.5fr;
        padding: 1rem 5rem;
    }

    footer p {
        font-size: 1.5rem;
    }

    .socialmedia {
        align-self: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    .main-nav {
        grid-column: auto;
    }

    .main-nav a {
        color: var(--primary-color);
        width: 100px;
        justify-content: center;
        align-self: center;
        font-size: clamp(1rem, 2vmin, 1.5rem);
        display: flex;
    }

    .main-nav a:hover {
        background-color: var(--ascent1-color);
        color: var(--primary-color);
        width: 100px;
    }

    .navigation li { 
        display: flex;
    }


}

@media screen and (min-width: 940px) {
    .navigation {
        grid-template-columns: repeat(4, auto);
    }
}