@media screen and (min-width: 700px) {

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

    }

    .courses {
        font-size: 2rem;
        width: 100%;
    }

    .navigation2 {
        display: grid;
        grid-template-columns: repeat(2, auto); /* two items side by side */
        justify-content: space-evenly;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .navigation2 a {
        font-size: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem; 
    }

    .navigation2 a:hover {
        font-size: 1.5rem;
    }

    .list-item {
        width: 70%;
    }

    .grid-style {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
    }

    main section{
        margin: auto 5px;
    }
}

