@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    header img {
        margin-left: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    a.active::after {
        content: "";
    }

    header span {
        font-size: 2rem;
        align-self: center;
    }

    header img {
        height: 100px;
    }

    .navigation {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    .main-nav {
        grid-column: auto;
    }

    .main-nav a {
        color: var(--ascent2-color);
        width: 100px;
        justify-content: center;
        align-self: center;
        font-size: clamp(1rem, 2vmin, 1.5rem);
        display: flex;
    }

    .main-nav a:hover {
        background-color: var(--ascent1-color);
        color: var(--primary-color);
        width: 100px;
    }

    .navigation li { 
        display: flex;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

    }

    .courses {
        font-size: 2rem;
        width: 100%;
    }

    .navigation2 {
        display: grid;
        grid-template-columns: repeat(2, auto); /* two items side by side */
        justify-content: space-evenly;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .navigation2 a {
        font-size: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem; 
    }

    .navigation2 a:hover {
        font-size: 1.5rem;
    }

    .list-item {
        width: 70%;
    }

    .grid-style {
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    main section{
        margin: auto 5px;
    }

}

@media screen and (min-width: 940px) {
    .navigation {
        grid-template-columns: repeat(4, auto);
    }

    header span {
        font-size: 3rem;
    }
}