:root {
    --primary-color: #1e2749ff;
    --secondary-color: #273469ff;
    --ascent1-color: #e4d9ffff;
    --ascent2-color: #fafaffff;
    --ascent3-color: #30343fff;
    --heading-font: 'Merriweather', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

main section {
    margin: 1rem 1rem;
}

main h1 {
    font-family: var(--heading-font);
    padding: 0.5rem 0;
    padding-left: 2rem;
    width: 90%;
}

main h2 {
    font-family: var(--heading-font);
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--ascent2-color);
    padding: 0.5rem 0;
    margin-bottom: 0;
    width: 100%;
}

.courses {
    font-size: 1.3rem;
    width: 95%;
    margin: auto;
}

.navigation2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    list-style: none;
    padding-left: 0;
}

.navigation2 a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--ascent1-color);
    font-size: 1rem;
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    font-weight: bold;
    border: solid 2px var(--ascent3-color);
    padding: 0.6rem 3rem;
}

.navigation2 a:hover {
    background-color: var(--ascent3-color);
    color: var(--ascent2-color); 
}

.h4 {
    background-color: var(--ascent2-color);
    font-family: var(--heading-font);
    text-align: center;
    font-size: 1rem;
    height: auto;
    padding-top: 1.5rem;
    margin: 1rem;
}

.course-title {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem auto;
    width: 200px;
    height: 50px;
    padding-top: 1rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--ascent1-color);
    
}

.color1 {
    background-color: var(--ascent1-color);
    color: var(--primary-color);
}

.grid-style {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-style section {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;   /* organiza de cima pra baixo */
    justify-content: space-between; /* distribui o conteúdo igualmente */
    align-items: center;      /* centraliza horizontalmente */
    background-color: var(--ascent2-color);
    border: solid 2px var(--primary-color);
    border-radius: 8px;
    text-align: center;
}

.list-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.list-item {
    display: grid;
    grid-auto-flow: column;   
    justify-content: space-between;  
    align-items: center;      
    gap: 20px;                
    background-color: var(--ascent1-color);
    padding: 10px;
    border-radius: 8px;
    width: auto;
    margin: 10px;
}

.list-item h2 {
    font-size: 1rem;
    background-color: var(--ascent1-color);
    color: var(--primary-color);
    margin: 0;
}

.list-item a {
    margin: 0 auto;
}
